@media (max-width:1200px) {
    .header__nav {
        position: relative;
    }

    .header__nav::before {
        content: '';
        width: 1100px;
        height: 2px;
        border-radius: 0.5px;
        background: #323232;
        position: absolute;
        top: 70%;
    }

    .header__logo {
        padding-left: 0;
    }

    .header__list {
        margin-left: 50px;
    }

    .header__button {
        padding-left: 70px;
        gap: 20px;
    }

    .header__content {
        margin-left: 30px;
    }

    .header__item-third {
        grid-column: span 3;
        grid-row: span 4;
        margin-left: 200px;
    }

    .header__item-third::before {
        content: "";
        width: 600px;
        height: 605px;
        border-radius: 10px;
        background: #E1E1E1;
        position: absolute;
        z-index: -1;
    }

    .photo-third {
        margin-right: 50px;
    }

    .header__info-three {
        margin-right: 50px;
    }

    .for__title::before {
        content: '';
        width: 1150px;
        height: 2px;
        border-radius: 0.5px;
        background: #323232;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
    }

    .main__content {
        margin-left: 0;
    }

    .main__item {
        max-width: 350px;
        min-height: 485px;
        width: 100%;
        border-radius: 10px;
        background: #E1E1E1;
        padding-top: 72px;
        padding-bottom: 39px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        position: relative;
    }

}

@media (max-width:1060px) {
    .header__nav::before {
        display: none;
    }

    .header__button {
        flex-direction: column;
        row-gap: 15px;
        position: fixed;
        background: #cfebf7;
        z-index: 999;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 30px;
        box-shadow: -11px 0px 20px 0px rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        transform: translateX(110%);
    }

    .submit {
        display: inline;
        order: 1;
        color: #323232;
        font-family: Montserrat;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
        text-transform: uppercase;
        cursor: pointer;
        border: none;
        background: transparent;
        padding-left: 40px;
    }

    .submit:focus+.header__button {
        transform: translateX(0);
    }

    .header__item-third {
        grid-column: span 3;
        grid-row: span 4;
        margin-left: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .header__item-third::before {
        content: "";
        width: 500px;
        height: 605px;
        border-radius: 10px;
        background: #E1E1E1;
        position: absolute;
        z-index: -1;
    }

    .button-three {
        display: none;
    }

    .header__item-first::before {
        content: "";
        width: 380px;
        height: 294px;
        border-radius: 10px;
        background: #E1E1E1;
        position: absolute;
        z-index: -1;
    }

    .header__item-second::before {
        content: "";
        width: 380px;
        height: 294px;
        border-radius: 10px;
        background: #E1E1E1;
        position: absolute;
        z-index: -1;
    }

    .for__title::before {
        content: '';
        width: 1000px;
        height: 2px;
        border-radius: 0.5px;
        background: #323232;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
    }

    .main__content {
        margin-left: 0;
    }
}

@media (max-width:966px) {
    .submit {
        padding-left: 80px;
    }

    .header__list {
        column-gap: 20px;
    }

    .for__title::before {
        content: '';
        width: 930px;
        height: 2px;
        border-radius: 0.5px;
        background: #323232;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
    }
}

@media (max-width:850px) {
    .header__nav {
        position: relative;
    }

    .header__nav::before {
        display: block;
        content: '';
        width: 770px;
        height: 2px;
        border-radius: 0.5px;
        background: #323232;
        position: absolute;
        top: 70%;
    }

    .header__list {
        flex-direction: column;
        row-gap: 15px;
        position: fixed;
        background: #dba696;
        z-index: 999;
        top: 0;
        right: 0;
        bottom: 0;
        justify-content: flex-start;
        padding: 30px;
        box-shadow: -11px 0px 20px 0px rgba(0, 0, 0, 0.5);
        transition: 0.3s;
        transform: translateX(110%);
    }

    .submit {
        padding-left: 0;
    }

    .menu {
        display: inline;
        order: 1;
        padding-left: 450px;
        padding-right: 30px;
    }

    .menu:focus+.header__list {
        transform: translateX(0);
    }

    .header__item-third {
        grid-column: span 3;
        grid-row: span 4;
        margin-left: 230px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .header__item-third::before {
        content: "";
        width: 400px;
        height: 610px;
        border-radius: 10px;
        background: #E1E1E1;
        position: absolute;
        z-index: -1;
    }

    .header__item-first::before {
        content: "";
        width: 380px;
        height: 294px;
        border-radius: 10px;
        background: #E1E1E1;
        position: absolute;
        z-index: -1;
    }

    .header__item-second::before {
        content: "";
        width: 380px;
        height: 294px;
        border-radius: 10px;
        background: #E1E1E1;
        position: absolute;
        z-index: -1;
    }

    .for__title::before {
        content: '';
        width: 800px;
        height: 2px;
        border-radius: 0.5px;
        background: #323232;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
    }

    .main__list {
        margin-right: 0;
    }

}

@media (max-width:650px) {
    .header__nav {
        position: relative;
    }

    .header__nav::before {
        display: block;
        content: '';
        width: 580px;
        height: 2px;
        border-radius: 0.5px;
        background: #323232;
        position: absolute;
        top: 70%;
    }

    .menu {
        display: inline;
        order: 1;
        padding-left: 260px;
        padding-right: 30px;
    }

    .header__content {
        display: flex;
        flex-direction: column;
        row-gap: 40px;
        margin-left: 0;
    }

    .header__item-third {
        grid-column: span 3;
        grid-row: span 4;
        margin-left: 230px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .header__item-third::before {
        content: "";
        width: 500px;
        height: 280px;
        border-radius: 10px;
        background: #E1E1E1;
        position: absolute;
        z-index: -1;
    }

    .header__item-first::before {
        content: "";
        width: 500px;
        height: 280px;
        border-radius: 10px;
        background: #E1E1E1;
        position: absolute;
        bottom: 0;
        top: 0;
        z-index: -1;
    }

    .header__item-second::before {
        content: "";
        width: 500px;
        height: 280px;
        border-radius: 10px;
        background: #E1E1E1;
        position: absolute;
        z-index: -1;
        bottom: 0;
        top: 0;
    }

    .for__title::before {
        content: '';
        width: 600px;
        height: 2px;
        border-radius: 0.5px;
        background: #323232;
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
    }

    .main__content {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .main__item {
        max-width: 500px;
        margin-left: 50px;
    }
}

@media (max-width:425px) {
    .header__nav::before {
        display: block;
        content: '';
        width: 500px;
        height: 2px;
        border-radius: 0.5px;
        background: #323232;
        position: absolute;
        top: 70%;
    }

    .menu {
        display: inline;
        order: 1;
        padding-left: 180px;
        padding-right: 30px;
    }

    .header__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 40px;
        margin-left: 100px;

    }

    .header__item-third {
        grid-column: span 3;
        grid-row: span 4;
        margin-left: 270px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        column-gap: 10px;
    }

    .header__item-third::before {
        content: "";
        width: 530px;
        height: 280px;
        border-radius: 10px;
        background: #E1E1E1;
        position: absolute;
        z-index: -1;
    }

    .photo-third {
        margin-right: 0;
    }

    .header__info-three {
        margin-right: 0;
        padding-right: 40px;
    }



    .header__item-first::before {
        content: "";
        width: 460px;
        height: 280px;
        border-radius: 10px;
        background: #E1E1E1;
        position: absolute;
        bottom: 0;
        top: 0;
        z-index: -1;
    }

    .header__item-second::before {
        content: "";
        width: 460px;
        height: 280px;
        border-radius: 10px;
        background: #E1E1E1;
        position: absolute;
        z-index: -1;
        bottom: 0;
        top: 0;
    }

    .for__title {
        margin-left: 70px;
    }

    .for__title::before {
        display: none;
    }

    .main__content {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: space-between;
        width: 500px;
        padding-bottom: 10px;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
    }

    .main__btn {
        display: none;
    }

    .main__button {
        flex-direction: row;
        gap: 60px;
        padding: 10;
    }

    .main__item {
        max-width: 600px;
        margin-left: 0;
        border: #323232 2px solid;
    }

    .main__text {
        margin-left: 130px;
    }
}

@media (max-width:320px) {
    .header__item-first {
        margin-left: 180px;
    }

    .header__item-second {
        margin-left: 180px;
    }

    .header__item-third {
        margin-left: 370px;
    }
}